<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Tweet Geo-Locator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   </head>
    <body>
        <div class="container-fluid" style="max-width: 700px" ng-controller="Controller">
            </br>
            <div class="header text-center">
                <h1>Tweet Geo-Locator</h1>
                <h3>Locate Tweet When GeoLocation Is Turned Off!</h3>
                </br>
                <label for="tweet-text">Enter Tweet Below</label>
                <div class="input-group">
                    <textarea class="form-control" id="tweet-text" aria-describedby="tweet-text" ng-model="tweet_text" placeholder="Enter Tweet Text Here"></textarea>
                </div>
                </br>
                <button class="btn btn-md btn-primary" ng-click="geolocate()" style="cursor: pointer;">Geolocate</button>
                </br>
                </br>
                <div ng-if="point" class="text-center">
                    <table class="table table-bordered" style="margin: 0 auto;">
                        <thead class="thead-default">
                            <tr>
                                <th>Latitude</th>
                                <th>Longitude</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td ng-bind="point.latitude"></td>
                                <td ng-bind="point.longitude"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </br>
                <div ng-if="link" class="text-center">
                    <a ng-href="{{ link }}" target="_blank">
                        <button class="btn btn-primary">View Location on GeoJSON.io</button>
                    </a>
                </div>
                </br>
                </br>
                <h3>API</h3>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#http" role="tab">HTTP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#angular1" role="tab">JavaScript (Angular 1)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#python" role="tab">Python</a>
                    </li>
                </ul>
                <div class="tab-content text-left">
                    <div class="tab-pane active" id="http" role="tabpanel"><pre><code>
Request Headers
POST /api/geolocate_tweet HTTP/1.1
Host: firstdraftgis.com
Connection: keep-alive
Content-Length: 106
Pragma: no-cache
Cache-Control: no-cache
Accept: application/json, text/plain, */*
Origin: http://firstdraftgis.com:8000
User-Agent: Mozilla/5.0 (X11; CrOS x86_64 9202.60.0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.137 Safari/537.36
Content-Type: application/json;charset=UTF-8
Referer: http://firstdraftgis.com:8000/
Accept-Encoding: gzip, deflate, br
Accept-Language: en-US,en;q=0.8

Request Payload
{"text":"Flood-risk areas in Bekasi likely to increase due to overflowing streams: Agency - Jakarta Post"}
                    </pre></code></div>
                    <div class="tab-pane" id="angular1" role="tabpanel">
                        <pre><code>
var url = "https://firstdraftgis.com/api/geolocate_tweet";
var tweet_text = "Flood-risk areas in Bekasi likely to increase due to overflowing streams: Agency - Jakarta Post";
var data = { text: tweet_text };
$http.post(url, data).then(function(response) {
    console.log("latitude:", response.data.latitude);
    console.log("longitude:", response.data.longitude);
});</pre></code>
                    </div>
                    <div class="tab-pane" id="python" role="tabpanel"><pre><code>
from requests import post

url = "https://firstdraftgis.com/api/geolocate_tweet"
tweet_text = "Flood-risk areas in Bekasi likely to increase due to overflowing streams: Agency - Jakarta Post"
data = {"text": tweet_text}
response = post(url, data).json()
print "latitude:", response.latitude
print "longitude:", response.longitude
                    </code></pre></div>
                </div>
            </div>
        <div class="footer text-right">
            <p>Powered by <a href="https://firstdraftgis.com" target="_blank">First Draft GIS</a><p>
        </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
            var app = angular.module('app', []);
            app.controller('Controller', ["$scope", "$http", function($scope, $http) {
                console.log("starting Controller", $http);
                $scope.api_endpoint = "https://firstdraftgis.com";
                $scope.geolocate = function() {
                    var tweet_text = $scope.tweet_text;
                    console.log("geolocating" + tweet_text);
                    if (tweet_text && tweet_text.length > 5) {
                        $http.post($scope.api_endpoint + "/api/geolocate_tweet", {
                            text: tweet_text
                        }).then(function(response) {
                            console.log("response:", response);
                            let point = response.data;
                            $scope.point = point;
                            let base = "http://geojson.io/#data=data:application/json,";
                            let coordinates = [point.longitude, point.latitude];
                            let geojson = {type: "Point", "coordinates": coordinates};
                            $scope.link = base + encodeURIComponent(JSON.stringify(geojson));
                            console.log("link:", $scope.link);
                        });
                    }
                };
            }]);
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-73811343-3', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
